.layanan-header{
    margin-left: 28px;
  margin-bottom: 15px;
  color: rgba(0,0,0,.5);
  font-weight: lighter;
}
.profile-card {
    padding: 20px;
  }

  .profile-image {
    border-radius: 50%; /* Gambar profil menjadi lingkaran */
    width: 100px; /* Ukuran gambar profil */
    height: 100px; /* Ukuran gambar profil */
    object-fit: cover; /* Pastikan gambar tetap proporsional */
  }
  .alert_default {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    border-left: 4px solid #431541; /* Green border for success */
    background-color: #f8dda9; /* Light green background for success */
    color: #431541; /* Dark green text for success */
    padding: 1rem 3rem 1rem 10px;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Optional: adds a shadow to the alert */
    animation: slideDownFade 0.5s ease-in-out forwards;
  }

  .alert_default p {
    margin: 0;
  }
  .alert_default p strong{
    text-transform: capitalize;
  }

  .alert_default .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: inherit;
    text-shadow: none;
    opacity: 0.8;
  }

  .alert_default .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }

  @keyframes slideDownFade {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
